._2p3a {
    width: 100% !important;
}
.facebooks_posts {
    max-width: 100%;
}
.google_map_block iframe {
    max-width: 100%;
    width: 100%;
}
.blog_list {    
    clear: both;
    margin: 0px;
    border-bottom: 2px solid silver;
    display: flex;
}
a {
    color: black;
}
a:hover {
    color: #0056b3;
    text-decoration: none;
}